<ion-view view-title="Alarmas">
  <ion-content scroll="false"; style="width:100%; background: url(img/FondoAl.jpg) no-repeat center;background-size:cover;">
  	<ion-list>
		<br><br></br>
		<div align="center">
		<a style="cursor: pointer"><img src="img/AlarmaAccidente.png" ng-click="Accidente()" width="90" height="60" class="animated bounceInLeft"></img></a><br><br></br>
		<a style="cursor: pointer"><img src="img/AlarmaAnimal.png" ng-click="AnimalSuelto()" width="80" height="60" class="animated bounceInDown"></img></a><br><br></br>
		<a style="cursor: pointer"><img src="img/AlarmaAmbulancia.png" ng-click="Ambulancia()" width="90" height="60" class="animated bounceInRight"></img></a><br><br></br>
		<a style="cursor: pointer"><img src="img/AlarmaMecanico.png" ng-click="Mecanico()" width="80" height="60" class="animated bounceInUp"></img></a>
		</div>
  	<ion-list>
  </ion-content>
</ion-view>
