<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="FormLogin" name="FormLogin" ng-if="!Funciona" enctype="multipart/form-data" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input name="username" type="text" ng-model="loginData.username" value="" required> 
          <span ng-if="!FormLogin.username.$invalid">✔</span>
       
        </label>
        <span ng-if="FormLogin.username.$invalid">*Este campo es requerido</span>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input  name="password" type="password" ng-model="loginData.password" value="" required> 
          <span ng-if="!FormLogin.password.$invalid">✔</span>
          <br>
        </label>
        <span ng-if="FormLogin.password.$invalid">*Este campo es requerido</span>
        <label class="item">
          <button ng-if="!FormLogin.$invalid" class="button button-block button-positive" ng-click="LoginGitHub()">Log in</button>
        </label>
      </div>
    </form>
    <div ng-show="Funciona">
      Se ha Logiado Exitosamente!!!
    </div>
  </ion-content>
</ion-modal-view>
