<ion-view view-title="Alarmas">
  <ion-content style="width:50%; text-align: center; margin: auto;">
  	<ion-list>
  		<button class= "button button-full button-assertive ion-model-s" ng-click="Accidente()">
  			Accidente
  		</button>
  		<button class= "button button-full button-calm ion-ios-paw" ng-click="AnimalSuelto()">
  			Animal Suelto
  		</button> 
  		<button class= "button button-full button-balanced ion-medkit" ng-click="Ambulancia()">
  			Ambulancia
  		</button> 
  	<ion-list>
  </ion-content>
</ion-view>
