<ion-view view-title="Alarmas">
  <ion-content style="width:100%; background: url(img/FondoAl.jpg) no-repeat center;background-size:cover;">
  	<ion-list>
		<br><br></br>
		<div align="center">
		<input type="image" src="img/AlarmaAccidente.png" ng-click="Accidente()" width="90" height="60" class="animated bounceInLeft"></input><br><br></br>
		<input type="image" src="img/AlarmaAnimal.png" ng-click="AnimalSuelto()" width="80" height="60" class="animated bounceInDown"></input><br><br></br>
		<input type="image" src="img/AlarmaAmbulancia.png" ng-click="Ambulancia()" width="90" height="60" class="animated bounceInRight"></input><br><br></br>
		<input type="image" src="img/AlarmaMecanico.png" ng-click="Mecanico()" width="80" height="60" class="animated bounceInUp"></input>
		</div>
  	<ion-list>
  </ion-content>
</ion-view>
