<ion-view view-title="LogOut">
  <ion-header-bar>
    <h1 class="title">LogOut</h1>
    <div class="buttons">
      <button class="button button-clear">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="FormLogout" align="center" >

      <label>¿Seguro que desea cerrar sesion?</label>  

      <label class="item">
        <button ng-click="LogOut()" class="button button-block button-positive"> Si</button>
      </label>
      <label class="item">
        <button ng-click="Seguir()" class="button button-block button-positive"> No</button>
      </label>
    </form>
  
  </ion-content>
</ion-view>
