<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">


      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="custom">
    <ion-header-bar class="bar-dark">
      <div align="center"><h1 class="title"><font class="cursiva">TraficApp</font></h1></div>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-close ng-click="LogOut()">
		  <div align="center"><img src="img/Candado.png" width="20" height="20"></img> &nbsp LogOut &nbsp <img src="img/Candado.png" width="20" height="20"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/alarmas">
           <div align="center"><img src="img/Alarma.png" width="20" height="20"></img> &nbsp Alarmas &nbsp <img src="img/Alarma.png" width="20" height="20"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/mapa">
           <div align="center"><img src="img/Satelite.png" width="20" height="20"></img> &nbsp Mapa de Alarmas &nbsp <img src="img/Satelite.png" width="20" height="20"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/reclamar">
         <div align="center"><img src="img/Cana.png" width="20" height="20"></img> &nbsp Generar Reclamos &nbsp <img src="img/Cana.png" width="20" height="20"></img></div>
        </ion-item>
        </ion-item>
        <ion-item menu-close href="#/app/reclamos" ng-show="UsuarioLogueado.email=='admin@admin.com'">
         <div align="center"><img src="img/Muestro.png" width="20" height="20"></img> &nbsp Mostrar Reclamos &nbsp <img src="img/Muestro.png" width="20" height="20"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/grafico">
         <div align="center"><img src="img/Graficos.png" width="20" height="20"></img> &nbsp Gráfico &nbsp <img src="img/Graficos.png" width="20" height="20"></img></div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
