<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="custom">
    <ion-header-bar class="bar-positive">
      <div align="center"><h1 class="title"><font class="cursiva">TraficApp</font></h1></div>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-close ng-click="LogOut()">
		  <div align="center"><img src="img/Logout.png" width="30" height="30"></img><font class="cursivaMenu"> &nbsp LogOut &nbsp </font><img src="img/Logout.png" width="30" height="30"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/alarmas">
           <div align="center"><img src="img/Alarma.png" width="30" height="30"></img><font class="cursivaMenu"> &nbsp Alarmas &nbsp </font><img src="img/Alarma.png" width="30" height="30"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/mapa">
           <div align="center"><img src="img/Satelite.png" width="30" height="30"></img><font class="cursivaMenu"> &nbsp Mapa de Alarmas &nbsp </font><img src="img/Satelite.png" width="30" height="30"></img></div>
        </ion-item>
        <ion-item menu-close href="#/app/reclamar">
         <div align="center"><img src="img/Cana.png" width="30" height="30"></img><font class="cursivaMenu"> &nbsp Generar Reclamos &nbsp </font><img src="img/Cana.png" width="30" height="30"></img></div>
        </ion-item>
        </ion-item>
        <ion-item menu-close href="#/app/grafico">
         <div align="center"><img src="img/Cana.png" width="30" height="30"></img><font class="cursivaMenu"> &nbsp Gráfico &nbsp </font><img src="img/Cana.png" width="30" height="30"></img></div>
        </ion-item>
      </ion-list>
	   </br>
	  <div align="center"><img src="img/Autos.png" width="200" height="200"></img></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
