<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="custom">
    <ion-header-bar class="bar-positive">
      <h1 class="title">traficApp</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/alarmas" class="it2">
          Alarmas
        </ion-item>
        <ion-item menu-close href="#/app/mapa" class="it3">
          Mapa de Alarmas
        </ion-item>
        <ion-item menu-close href="#/app/reclamar" class="it4">
          Generar Reclamos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
