<ion-view view-title="Lista de Reclamos">
  <ion-content style="width:100%; background: url(img/Calles.jpg) no-repeat center;background-size:cover;">   
  </br>
	<center><ion-spinner  icon="bubbles" class="spinner spinner-energized" ng-if="estabandera==true" ></ion-spinner></center>
  <div class="animated bounceInDown" style="width:75%; text-align: center; margin: auto;" ng-if="estabandera==false">

	  <div ng-repeat="r in reclamos">
	  	<form class="botonReclamo" style="width:75%; text-align: center; margin: auto;">
		  <font color="white">
		  <strong>{{r.Reclamo}}<br/></strong>Valoracion: {{r.Valoracion}}<br/>
		  Usuario: {{r.Usuario}} - Tipo: {{r.TipoDeAyuda}}
		  </font>
		  </form>
		  <br/>
	  </div>

	</div>
  </ion-content>
</ion-view>

